<template>
  <!-- Inicio -->
  <v-content>
    <section id="hero">
      <v-row no-gutters>
        <v-img
          :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
          src="https://www.ecopetit.cat/wpic/mpic/0-5904_4k-wallpaper.jpg"
        >
          <v-theme-provider dark>
            <v-container fill-height>
              <v-row align="center" class="white--text mx-auto" justify="center">
                <v-col class="white--text text-center" cols="12" tag="h1">
                  <span
                    class="font-weight-light"
                    :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-1']"
                  >Bienvenido a</span>

                  <br />

                  <span
                    :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-3']"
                    class="font-weight-light"
                  >RETURN</span>

                  <br />

                  <span
                    :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-3']"
                    class="font-weight-black"
                  >"Solo cuando el último árbol esté muerto, el último río envenenado y el último pez atrapado, te darás cuenta que no puedes comer dinero"</span>
                </v-col>

                <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#About')">
                  <v-icon>mdi-chevron-double-down</v-icon>
                </v-btn>
              </v-row>
            </v-container>
          </v-theme-provider>
        </v-img>
      </v-row>
    </section>
  </v-content>
  <!-- Inicio -->
  
</template>

<script>
export default {
  name: 'Home',
  components: {},
};
</script>
