<template>
  <div class="NavBar">
    <!-- NavBar-->
    <v-app-bar app color="white" height="100">
      <v-avatar class="mr-3" color="grey lighten-5" size="70">
        <v-img contain max-height="100%" src="../assets/return.png"></v-img>
      </v-avatar>

      <v-toolbar-title class="font-weight-black headline">RETURN</v-toolbar-title>
    </v-app-bar>
    
    <!-- NavBar -->

    <home/>
    <about/>
    <team/>
  </div>
</template>

<script>
import Home from "../views/Home";
import About from "../views/About";
import Team from "../views/Team";

export default {
  name: "NavBar",
  components: {
    Home,
    About,
    Team
  },

};
</script>