<template>
  <v-app>
    <NavBar/>
    <router-view v-title="title"></router-view>
  </v-app>
</template>

<script>
import NavBar from "./components/NavBar";

export default {
  name: "App",
  components: {
    NavBar
  },
    data() {
    return {
      title: "RETURN"
    };
  }
};
</script>
